.Rhistory
Bassiana.finalCO2.sexreversal.analysis.data.clean.csv
final.dilution.analysis.data.clean.csv
Pogona.finalCO2.sexreversal.analysis.data.clean.csv
.Rproj.user
"-Kristoffer\342\200\231s MacBook Pro.Rhistory"
-Kristoffer’s MacBook Pro.Rhistory
pogona.regression.pdf
pogona.posterior.pdf
pogona.mod2.predicition.pdf
bassiana.regression.pdf
bassiana.posterior.pdf
bassiana.mod2.predicition.pdf
.DS_Store
~$*